@charset "utf-8";

.hide {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  visibility: hidden;
}

@font-face {
  font-family: 'webfont01';
  src: url('../font/Neo\ Sans\ Pro\ Light.eot') format('embedded-opentype'), url(../font/Neo\ Sans\ Pro\ Light.ttf) format('truetype');
}

/* 작업 */
/* 전체 */
#wrap {
  width: 100%;
  position: relative;
}

img {
  /* width: 100%; */
  max-width: 100%;
}

/* 공통 */
#wrap>div {
  width: 100%;
  padding: 70px 0;
}

#wrap>div>article {
  width: 98%
    /* 1158px */
  ;
  margin: 0 auto;
}

#wrap>div>header {
  width: 98%
    /* 1158px */
  ;
  margin: 0 auto;
  /* background-color: yellow; */
}

#wrap>div>footer {
  width: 98%
    /* 1158px */
  ;
  margin: 0 auto;
}

div>article>h3 {
  font: 72px 'webfont01', cursive;
  margin-bottom: 50px;
  text-align: center;
  color: #333333;
}

/* header */
#wrap>#headerWrap {
  padding: 20px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(20, 150, 190, 0.7);
}

#headerWrap>header {
  overflow: hidden;
}

header>h1 {
  float: left;
}

header>h1>a {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

header>nav {
  float: right;
}

header>nav>ul {
  text-align: right;
}

header>nav>ul>li {
  display: inline-block;
  margin-left: 30px;
}

nav>ul>li>a {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

/* box01 */
#wrap>#box01 {
  height: 100vh;
  background: url('../images/header_back2.jpg') no-repeat center top;
  padding: 0;
}

#box01>article {
  position: relative;
  height: 100%;
}

#box01>article>h3 {
  position: absolute;
  width: 100%;
  left: 0;
  top: 18%;
  width: 100%;
  color: #fff;
}

#box01>article>ul {
  position: absolute;
  left: 0;
  bottom: 12%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#box01>article>ul>li {
  /* flex-basis: 33.3333%; */
  /* width: 33.3333%; */
  width: 30%;
  /* background-color: pink; */
}

#box01>article>ul>li>span {
  display: block;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin: 0 auto 17px;
  background: rgba(255, 255, 255, 0.7) url('../images/header_icon_01.png') no-repeat center;
}

#box01 li:nth-child(2)>span {
  background-image: url('../images/header_icon_02.png');
}

#box01 li:nth-child(3)>span {
  background-image: url('../images/header_icon_03.png');
}

#box01 li>dl {
  width: 220px;
  margin: 0 auto;
  font-size: 14px;
  color: #fff;
  line-height: 21px;
  text-align: center;
}

#box01 li>dl>dt {
  font-weight: bold;
  margin-bottom: 10px;
}

/* box02 */
#wrap>#box02 {
  background-color: #e8e8e8;
  overflow: hidden;
}

/* info */
#info {
  margin-bottom: 73px;
  display: flex;
  justify-content: space-between;
}

#info>h4 {
  width: 24.7841105%
    /* 287px */
  ;
  margin-left: 2.3316062%
    /* 27px */
  ;
}

#info>ul {
  width: 54.2314335%
    /* 628px */
  ;
  margin-right: 9.2400690%
    /* 107px */
  ;
}

#info>ul>li {
  /* width: auto; */
  padding-left: 152px;
  position: relative;
  font-size: 18px;
  line-height: 36px;
  border-bottom: 1px dotted #666;
  margin-bottom: 10px;
}

#info>ul>li>dfn {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  line-height: 35px;
  font-style: normal;
}

/* skill */
#skill {
  display: flex;
  justify-content: space-between;
}

#skill>h4 {
  /* width: 287px;
  margin-left: 27px; */
  margin-left: 7.5993091%
    /* 88px */
  ;
  font-size: 30px;
  font-weight: bold;
  color: #707070;
}

#skill>ul {
  width: 54.2314335%
    /* 628px */
  ;
  margin-right: 9.2400690%
    /* 107px */
  ;
}

#skill>ul>li {
  position: relative;
  padding-left: 152px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 30px;
}

#skill>ul>li:last-child {
  margin-bottom: 0;
}

#skill>ul>li>dfn {
  position: absolute;
  left: 0;
  top: 0;
  font-style: normal;
}

#skill>ul>li>span {
  display: block;
  width: 100%;
  height: 30px;
  background: #000 url('../images/bar.gif') no-repeat left top;
  text-indent: -9999px;
}

#skill>ul>li:nth-child(1)>span {
  background-size: 80% 100%;
}

#skill>ul>li:nth-child(2)>span {
  background-size: 80% 100%;
}

#skill>ul>li:nth-child(3)>span {
  background-size: 80% 100%;
}

#skill>ul>li:nth-child(4)>span {
  background-size: 90% 100%;
}

#skill>ul>li:nth-child(5)>span {
  background-size: 80% 100%;
}

/* box03 */
#wrap>#box03 {
  padding-bottom: 0;
}

#box03 ul {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 70px;
}

#box03 article>ul>li {
  border-left: 1px solid #666;
  padding: 0 16px;
}

#box03 article>ul>li:first-child {
  border-left: none;
}

#box03 article>ul>li>a {
  color: #666;
}

#show {}

#all {
  display: flex;
  flex-wrap: wrap;
}

#all>figure {
  width: 33.3333%;
  margin-bottom: 75px;
  text-align: center;
}

#all>figure>img {
  width: 256px;
  border-radius: 50%;
  margin-bottom: 25px;
}

/* 버튼 */
#prev {
  display: none;
  position: absolute;
  top: 50%;
  left: 2vw;
  width: 30px;
  height: 30px;
  background-color: red;
}

#next {
  display: none;
  position: absolute;
  top: 50%;
  right: 2vw;
  width: 30px;
  height: 30px;
  background-color: red;
}

#all>figure>figcaption {}

/* box04 */
#wrap>#box04 {
  background-color: #518dec;
}

#box04>article>h3 {
  color: #fff;
}

#box04 form {
  width: 91.0189982%
    /* 1054px */
  ;
  margin: 0 auto;
  /* background-color: brown; */
}

#box form ul {
  margin-bottom: 20px;
}

#box04 form ul>li {
  position: relative;
  padding-left: 175px;
  margin-bottom: 34px;
}

#box04 form ul>li>label {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 45px;
  font: 24px/50px Arial, sans-serif;
  color: #fff;
  background: url('../images/contact_icon_01.png') no-repeat left center;
}

#box04 form ul>li:nth-child(2)>label {
  background-image: url('../images/contact_icon_02.png');
}

#box04 form ul>li:nth-child(3)>label {
  background-image: url('../images/contact_icon_03.png');
}

#box04 form ul>li:nth-child(4)>label {
  background-image: url('../images/contact_icon_04.png');
}

#box04 form ul>li>input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: none;
  font: 24px/50px Arial, sans-serif;
  text-indent: 23px;
}

#box04 form ul>li>textarea {
  box-sizing: border-box;
  width: 100%;
  height: 164px;
  border: none;
  font: 24px/50px Arial, sans-serif;
  text-indent: 23px;
}

#box04 form p {
  text-align: right;
}

#box04 form p>input {
  width: 124px;
  height: 45px;
  border: none;
  box-sizing: border-box;
  background-color: #f69d20;
  font-size: 24px;
  color: #fff;
  border-radius: 8px;
}

/* footer */
#wrap>#footerWrap {
  padding: 45px 0;
  background-color: #333333;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

/* aside */
aside {
  position: fixed;
  right: 20px;
  top: 50%;
}

aside>ul>li {
  margin-bottom: 25px;
}

aside>ul>li>a {
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  text-indent: -9999px;
}

aside>ul>li>a:hover {
  background-color: #fff;
}

/* 버튼 */
header>#btn {
  display: none;
  right: 25px;
  top: 25px;
  position: absolute;
  width: 34px;
  height: 34px;
  /* background-color: red; */
}

header>#btn>span {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

header>#btn>span:nth-child(2) {
  top: 20%;
}

header>#btn>span:nth-child(3) {
  top: 40%;
}

header>#btn>span:nth-child(4) {
  top: 60%;
}

header>#btn>span:nth-child(5) {
  top: 80%;
}

nav>#close {
  display: none;
  position: absolute;
  right: 25px;
  top: 25px;
  width: 30px;
  height: 30px;
  background-color: red;
}